* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 1.5em;
}

#content section {
  min-height: 24em;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}
#content section h1 small {
  color: #222;
  text-transform: none;
}
#content section h1 img {
  text-align: center;
  max-width: 100%;
}
#content section#intro {
  background-color: transparent;
  margin-top: 0.75em;
  padding-bottom: 1.5em;
}
#content section#intro h1 {
  font-size: 5em;
  line-height: 0.9em;
  font-weight: 100;
  margin-top: 0.75em;
}
#content section#intro h1 em {
  color: #ee060c;
  font-style: normal;
}
#content section#intro h2 {
  font-size: 2em;
  line-height: 0.75em;
}
#content section#intro p, #content section#intro li {
  font-size: 1.5em;
  line-height: 1.5em;
}
#content section#intro ol {
  counter-reset: li;
}
#content section#intro ol li {
  list-style: none;
}
#content section#intro ol li:before {
  content: counter(li);
  counter-increment: li;
  width: 1.5em;
  display: inline-block;
  color: #222;
}
#content section#intro p#the_challenge {
  font-weight: bold;
}
#content section#intro .speakerdeck {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#content section#intro .speakerdeck-iframe {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.button {
  text-transform: uppercase;
  font-family: "proxima-nova-alt-condensed", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

#awesomalizer {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
#awesomalizer #exploralaboratoricon {
  padding-bottom: 30%;
  background-image: url(/images/explora-logo-h.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 0em) and (max-width: 40em) {
  #awesomalizer #exploralaboratoricon {
    padding-bottom: 60%;
    background-image: url(/images/explora-logo-v.png);
  }
}
#awesomalizer #exploralaboratoricon h1 {
  display: none;
}

.ideas {
  margin-top: 1.5em;
  padding-top: 1.5em;
}
.ideas .idea {
  background-color: white;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid #ccc;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  margin-bottom: 1.5em;
  padding: 1em;
}
.ideas .idea h3 {
  margin-top: 0px;
}

.centered {
  text-align: center;
}

#main_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  margin-top: 0px;
}
#main_nav .nav-bar {
  margin-top: 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
}
@media (min-width: 0em) and (max-width: 50em) {
  #main_nav {
    display: none;
  }
}
#main_nav li a {
  font-family: "proxima-nova-alt-condensed", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

#hacks .hackety h2 em {
  color: #666;
  font-style: normal;
  text-transform: none;
}
#hacks .hackety .hack {
  position: relative;
  margin: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px inset;
  background-color: #ddd;
  background-color: rgba(0, 0, 32, 0.2);
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  padding: 1em;
  min-height: 16em;
  text-align: center;
}
#hacks .hackety .hack h2 {
  text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
  color: rgba(255, 255, 255, 0.2);
  text-align: center;
  color: white;
  margin-top: 3em;
  margin-bottom: 3em;
}
#hacks .hackety .hack img {
  position: absolute;
  top: -10px;
  left: -10px;
}

h1, h2, h3 {
  font-family: "proxima-nova-alt-condensed", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #ee060c;
}

#introizer, #hackatibulator, #faqrabadabra {
  background-image: url("/images/patterns/diamond_upholstery.png");
  background-attachment: fixed;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  #introizer, #hackatibulator, #faqrabadabra {
    background-image: url("/images/patterns/diamond_upholstery@2x.png");
  }
}
#introizer #intro, #hackatibulator #intro, #faqrabadabra #intro {
  background-color: transparent;
}

#ideaoblator {
  background-color: #b0ddd5;
}

#contactualizer {
  background-color: #de1001;
}
#contactualizer h1 {
  color: white;
}
#contactualizer p {
  color: white;
}
#contactualizer a {
  color: white;
}

#wrapper {
  position: relative;
  top: 0px;
}

#header .row {
  text-align: center;
}
#header .row h1 {
  text-align: center;
}

.button_emphasis {
  display: inline-block;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 0.6em;
  -moz-border-radius: 0.6em;
  -ms-border-radius: 0.6em;
  -o-border-radius: 0.6em;
  border-radius: 0.6em;
  padding: 0.5em;
}
.button_emphasis p {
  margin-bottom: 0px;
}

p#suggest {
  margin-top: 1.5em;
}

footer#footer {
  position: relative;
  min-height: 12em;
  background-color: #222;
}
footer#footer h2 {
  font-size: 1.5em;
  line-height: 1em;
}
footer#footer p {
  color: white;
}
footer#footer #big_cr_logo {
  position: absolute;
  top: -150px;
  right: 0px;
  z-index: 20;
}
@media (min-width: 0em) and (max-width: 50em) {
  footer#footer #big_cr_logo {
    display: none;
  }
}

#flash {
  position: absolute;
  top: 9em;
  z-index: 1000;
}

form .row {
  margin-bottom: 1.5em;
}
form textarea {
  min-height: 18em;
}
