* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 1.5em;
}

#content section {
  min-height: 18em;
  margin-bottom: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}
#content section#intro {
  background-color: #ddeeff;
}
#content section#ideas {
  background-color: #ddeeff;
}
#content section#hacks {
  background-color: #ddeeff;
}
#content section#products {
  background-color: #ddeeff;
}

#header .row {
  text-align: center;
}
#header .row h1 {
  text-align: center;
}
