@import "compass/typography";
@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "compass/typography/links/link-colors";

$base-font-size: 16px;
$red: #EE060C;
$condensed: "proxima-nova-alt-condensed", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
@import "susy";

@include establish-baseline;


#content {
  section {
    min-height: 24em;
    @include padding-trailer(1);
    @include padding-leader(1);
    padding-left: 1em;
    padding-right: 1em;
    h1 {
      small {
        color: #222;
        text-transform: none;
      }
      img {
        text-align: center;
        max-width: 100%;
      }
    }
    &#intro {
      background-color: transparent;
      @include leader(0.5);
      @include padding-trailer(1);
      h1 {
        @include adjust-font-size-to($base-font-size * 5, $lines: 3);
        font-weight: 100;
        @include leader(0.5);
        em {
          color: $red;
          font-style: normal;
        }
      }
      h2 {
        @include adjust-font-size-to($base-font-size * 2, $lines: 1);
      }
      p, li {
        @include adjust-font-size-to($base-font-size * 1.5, $lines: 1.5);
      }
      p#the_challenge {
        font-weight: bold;
      }
      .speakerdeck {
        width: 100%;
        @include box-sizing(border-box);
      }
      .speakerdeck-iframe {
        width: 100%;
        @include box-sizing(border-box);
      }
    }
    &#ideas {
    }
    &#hacks {
    }
    &#products {
    }
  }
}

.button {
  text-transform: uppercase;
  font-family: $condensed;
}

#awesomalizer {
  @include leader(1);
  @include trailer(1);
  .columns {
    text-align: center;
    img {
      margin: auto;
    }
  }
}

.ideas {
  @include leader(1);
  @include padding-leader(1);
  .idea {
    background-color: white;
    @include border-radius(1em);
    border: 1px solid #ccc;
    @include box-shadow(rgba(0,0,0,0.1) 0px 0px 8px);
    @include trailer(1);
    padding: 1em;
    h3 {
      margin-top: 0px;
    }
  }
}

.centered {
  text-align: center;
}

#main_nav {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index: 100000;
  margin-top: 0px;
  .nav-bar {
    margin-top: 0px;
    li a {
    }
    @include box-shadow(rgba(0,0,0,0.25) 0px 0px 8px);
  }
  @include at-breakpoint(0em 12 50em) {
    display: none;
  }
  li a {
    font-family: $condensed;
    text-transform: uppercase;

  }
}

#hacks {
  .hackety {
    h2 {
      em {
        color: #666;
        font-style: normal;
        text-transform: none;
      }
    }
    .hack {
      position: relative;
      margin: 1em;
      @include box-sizing(border-box);
      @include box-shadow(rgba(0,0,0,0.4) 0px 0px 8px inset);
      background-color: rgba(0,0,32,0.2);
      @include border-radius(1em);
      padding: 1em;
      min-height: 16em;
      text-align: center;
      h2 {
        @include text-shadow(rgba(0,0,0,0.4) 0px 0px 8px);
        color: rgba(255,255,255,0.2);
        text-align: center;
        color: white;
        @include leader(2);
        @include trailer(2);
      }
      img {
        position: absolute;
        top: -10px;
        left: -10px;
      }
    }
  }
}

h1, h2, h3 {
  font-family: $condensed;
  text-transform: uppercase;
  color: $red;
}

#introizer, #hackatibulator {
  background-image: url('/images/patterns/diamond_upholstery.png');
  background-attachment: fixed;
  @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 2) {
    background-image: url('/images/patterns/diamond_upholstery@2x.png');
  }
  #intro {
    background-color: transparent;
  }
}

#ideaoblator {
  background-color: #b0ddd5;
}

#contactualizer {
  background-color: #de1001;
  h1 {
    color: white;
  }
  p {
    color: white;
  }
  a {
    color: white;
  }
}

#wrapper {
  position: relative;
  top: 0px;
}

#header {
  .row {
    text-align: center;
    h1 {
      text-align: center;
    }
  }
}

.button_emphasis {
  display: inline-block;
  margin: auto;
  background-color: rgba(0,0,0,0.15);
  @include border-radius(0.6em);
  padding: 0.5em;
  p {
    margin-bottom: 0px;
  }
}

p#suggest{
  @include leader(1);
}

footer#footer {
  position: relative;
  min-height: 12em;
  background-color: #222;
  h2 {
    @include adjust-font-size-to($base-font-size * 1.5, $lines: 1);
  }
  p {
    color: white;
  }
  #big_cr_logo {
    position: absolute;
    top: -150px;
    z-index: 20;
  }
}