@import "compass/typography";
@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "compass/typography/links/link-colors";
@import "susy";

@include establish-baseline;

#content {
  section {
    min-height: 18em;
    @include trailer(1);
    padding-left: 1em;
    padding-right: 1em;
    &#intro {
      background-color: #ddeeff;
    }
    &#ideas {
      background-color: #ddeeff;
    }
    &#hacks {
      background-color: #ddeeff;
    }
    &#products {
      background-color: #ddeeff;
    }
  }
}

.ideas {
  .idea {
  }
}

#header {
  .row {
    text-align: center;
    h1 {
      text-align: center;
    }
  }
}