-# coding: utf-8

%section#intro.row
  %h1
    About the
    %br
    Exploralaboratorium

%section#background.row
  %h1
    Background
  %p 
    We've setup the Exploraboratorium to discover answers to a tricky question - how can Comic Relief make use of the rapid changes in digital media to create new products and services that can make, or raise money for Comic Relief and our causes, 365 days a year?
  %p
    The basic concept behind the Exploralaboratorium is simple - to build a process that helps us move from good ideas to tangible, testable prototypes as quickly as possible. Moving quickly means we can get products into customers hands more quickly, which means we can learn about what works and doesn't work more quickly. In other words, it means that we can fail more quickly - and we think that faster failure will lead to faster success.
  %p
    The project is being run by the innovation team at Comic Relief, in collaboration with Sidekick Studios, a digital innovation consultancy.

%section#process.row  
  %h1
    The process
  %p
    We're developing the process as we go, but we think that there are three basic activities that the Exploralaboratorium can do to hep create new digital stuff that can raise money for Comic Relief 365days a year.
  %ul
    %li
      %h2
        Ideas
      %p
        We're gathering ideas by speaking to people across the business, and asking for submissions via the website. We're looking for ideas that have a simple hypothesis about how the resulting product could make or raise money 365 days a year, that fits with Comic Relief's mission, and that have a clear project sponsor.
    %li
      %h2
        Hacks
      %p
        We'll then spend between one and five days making the idea into a digital thing - this means a working piece of software that in some clear way allows the person who came up with the idea to test and explore their assumptions and hypothesis around the idea with real users.
      %p
        We then pass the hack to the product owner, who is responsible for testing it and getting feedback from users, in order to validate (or not) their assumptions about the idea. They'll be supported by a member of the Comic Relief innovation team in doing this.
      %p
        Once the product owner has gathered feedback its decision time. Either they can support pivot the idea to a new one and get us to hack a second iteration, or then can pull out and kill the idea, or they can persevere and turn the idea into a full blown product.
    %li
      %h2
        Products
      %p
        If the idea is well validated - say it does get people to donate, or recommend it to their friends, or some other key metric - we can then support the product owner in writing a full business case and begin the full process of product development to create a full supported digital thing that raises money 365 days a year for Comic Relief.
      

%section#team.row
  %h1
    The team
  %p
    The project is being run by the Comic Relief Innovation team and Sidekick Studios, and is being funded through the Sidekick School programme. These are the main people involved:
  .row
    .six.columns

      %h3
        Maria Skanavi
      %p
        %em
          Project Manager 
        %a{:href=>"mailto:m.skanavi@comicrelief.com"} m.skanavi@comicrelief.com
    
      %p
        Maria loves making lists and getting stuff done. She's making sure the labs works for Comic Relief, and making sure the team delivers.
    .six.columns
      %h3
        Stef Lewandowski
      %p
        %em
          Hacker 
        = succeed(" — ") do
          %a{:href=>"http://twitter.com/stef"} @stef
        %a{:href=>"mailto:stef@sidekickstudios.net"} stef@sidekickstudios.net

      %p
        Stef's good at being fast. He loves to make stuff out of the internet. He's building most the hacks. This is his perfect project.
  .row
    .six.columns
      %h3
        Nick Marsh
      %p
        %em
          Product guy 
        = succeed(" — ") do
          %a{:href=>"http://twitter.com/choosenick"} @choosenick
        %a{:href=>"mailto:nick@sidekickstudios.net"} nick@sidekickstudios.net
      %p
        Nick's the strategy person on the project, but also does a lot of the stuff around making sure the hacks works for people, and he does wireframes.
    .six.columns
      %h3
        Katie Marcus
      %p
        %em
          Designer 
        = succeed(" — ") do
          %a{:href=>"http://twitter.com/whatkatiedoes"} @whatkatiedoes
        %a{:href=>"mailto:katie@sidekickstudios.net"} katie@sidekickstudios.net
      %p
        Katie's the visual design and art direction specialist. She makes everything look amazing, so that people really want to use it.

%section#faqs.row
  %h1
    Other FAQs
  %h2
    What do you mean by a 'digital product or service'
  %p
    Broadly speaking we mean a digital thing that people pay for, or that they use to do something useful for themselves. Basically software, but software that is well designed and does something good. Digital products are everywhere - think of Gmail, the apps on your phone, Spotify, Instagram - all these things are digital things that people pay for in some way.
  %h2
    Who is paying for this?
  %p
    The project is being funded through the Sidekick School programme, which is mainly funded by Nominet Trust.
  %h2
    I have an idea. How do I tell you?
  %p
    You should submit your idea through the website. I have more questions. How do I contact you?
  %p
    Contact us via email - labs@comicrelief.com on twitter @comicrelieflabs on the phone 07915066560 or come and say hi to us in our space at Comic Relief HQ - we're at the top of the stairs