%section#intro.row
  %p 
    Welcome

%section#ideas.row
  %h1
    Ideas
  %p
    We're inviting anyone who works at Comic Relief to suggest ideas for products we could make - here's a few that we've had so far.

  .ideas.row
    .six.columns.idea
      %h2
        Idea one
      %p
        This would be awesome.
    .six.columns.idea
      %h2
        Idea two
      %p
        Another totally awesome idea that I would like to see happen.
  .ideas.row
    .six.columns.idea
      %h2
        Idea three
      %p
        This would be awesome.
    .six.columns.idea
      %h2
        Idea four
      %p
        Another totally awesome idea that I would like to see happen.
%section#hacks.row
  %h1
    Hacks
  %p
    When we've done working out which ideas to work on, we'll be rapidly protyping a selected idea each week for a total of six weeks.
%section#products.row
  %h1
    Products
  %p
    And if we're successful, and we've managed to find something that could potentially be a digital product that would have benefit for Comic Relief, 365 days a year, we'll come up with a business case for how we could put resources behind it to make it a reality.
