-# coding: utf-8

- @home = true
#introizer
  %section#intro.row
    %h1
      %img{:src=>"/images/explora-logo.png", :alt=>"The Comic Relief Exploralaboratorium!"}
          
    .row
      .five.columns
        %h2
          The challenge
        
        %blockquote#the_challenge
          How can Comic Relief raise money 365 days a year, using digital stuff?
      
        %h2
          The approach

        %blockquote
          %ol
            %li Gather ideas
            %li Make hacks
            %li Learn quickly
            %li Launch products
        %p
          %a#reveal-approach.button.radius{:href=>"/about"} More about the approach

      .seven.columns
        .speakerdeck
          <script async class="speakerdeck-embed" data-id="4ff713abb5c1770021049c4b" data-ratio="1.3333333333333333" src="//speakerdeck.com/assets/embed.js"></script>

#ideaoblator
  %section#ideas.row
    %h1
      Our Ideas
      %br
      %small
        Digital stuff that could raise money for Comic Relief 365 days a year
    %p
      We're inviting anyone who works at Comic Relief to suggest ideas for products we could make - here's a few that we've had so far.

    %p.centered
      %a.button.radius{:href=>"#"} Suggest an idea

%section#hacks.row
  %h1
    The Hacks
  %p
    When we've done working out which ideas to work on, we'll be rapidly protyping a selected idea each week for a total of six weeks.
  .row
    .four.columns
      .hackety
        %h2
          Hack 1
    .four.columns
      .hackety
        %h2
          Hack 2
    .four.columns
      .hackety
        %h2
          Hack 3
  .row
    .four.columns
      .hackety
        %h2
          Hack 4
    .four.columns
      .hackety
        %h2
          Hack 5
    .four.columns
      .hackety
        %h2
          Hack 6
    
%section#products.row
  %h1
    The (eventual) Products
  %p
    And if we're successful, and we've managed to find something that could potentially be a digital product that would have benefit for Comic Relief, 365 days a year, we'll come up with a business case for how we could put resources behind it to make it a reality.